* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-image: url('global.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; /* Ensure the overlay can be positioned relative to the body */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.login{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 2;
}

.logo{
    flex: 1;
    text-align: center;
}

.logo img {
    max-width: 50%;
}

.form{
    grid-column: 2;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left;
    color: white;
}

.form h2{
    margin-top: 0;
    text-align: center;
}

.inputUsername, .inputPassword{
    margin-bottom: 20px;
}

.inputUsername label, .inputPassword label{
    display: block;
    margin-bottom: 5px; 
}

.inputUsername input, .inputPassword input{
    width: calc(100% - 16px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3 ease;
}

button:hover{
    background-color: #0056b3;
}
table{
    
}

.message {
    color: rgb(250, 80, 80);
}
